*{
    -webkit-transition: all 700ms;
    -moz-transition: all 700ms;
    -o-transition: all 700ms;
    transition: all 700ms;
}

.TOTAL{
    display: flex;
}
.info{
    display: inline;
}
body{
    background-color: #fb8303;
    background-image:linear-gradient(67deg,#100000 45%,#0008ffda 100%);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    height: auto;
    display: inline;
}


div.output h1{
    font-family:"brush script MT","cursive";
    color:rgba(55, 153, 251,0.8);
    max-width: max-content;
    padding-left: 100px;
    max-height :80px;
    text-align: left;
    font-size: 60px;
}
 
div.input h1{
    font-family: 'Courier New', Courier, monospace;
    color: rgba(46, 210, 153,0.8);
    text-align: left;
    max-width: 500px;
    font-size: 60px;
    padding-left: 50px;
}

div.output :hover{
    transition-timing-function:cubic-bezier(0.39, 0.575, 0.565, 1);
    transition-delay: 150ms;
    transform:scale(1.1);
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}

div.image img{
    border-radius: 250px;
    height: 750px;
    max-height:300%;
    align-items: end;
    float: right;
   
}

div.image img:hover{
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
    max-height:300%;
    zoom: 1;
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
    background-color: rgba(30, 32, 33, 0.244);
    overflow: hidden
}

h2{
    font-family:"Copperplate", Papyrus, fantasy;
    color:rgba(34, 236, 219, 0.622);
    text-align: center;
    font-size: 100px;
    padding: 10px;
    margin: 30px;
}

h2:hover{
    transform: scale(0.8);
    -webkit-filter: brightness(0.7);
    filter: brightness(0.7);
}

a{
    color: rgba(55, 153, 251,0.9);
    text-decoration-line: none;
}

div.social-links span.fa-facebook{
    color: rgb(7, 83, 247);
    font-size: 90px;
}

div.social-links  span.fa-instagram{
    color: rgb(195, 11, 85);
    font-size: 100px;
}

div.social-links {
    padding-bottom: 75px;
    text-align: center;
    padding-top: 50px;
}

li{
    display: inline;
    padding: 100px;
}

div.iit {
    align-items: center;
    padding-left: 350px;
    height: 400px;
}

div.iit :hover{
    transform: scale(1.2);
}

div.wiss {
    border-radius: 150px;
    padding-left: 350px;
    height: auto;
}

div.wiss a img {
    border-radius: 150px;
}

div.wiss a img:hover{
    transform: scale(1.2);
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
}

span.fa-facebook:hover{
    transform: scale(1.3);
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
}

span.fa-instagram:hover{
    transform: scale(1.3);
    -webkit-filter: brightness(1.2);
    filter: brightness(1.2);
}
